<!-- Hide the sidebar -->
<button class="button button-hide" onclick="toggleSidebar()">Hide the sidebar (f)</button>


<!--Home button-->
<button class="button button-home" onclick="redirectToServerUrl()">Home</button>

<script>
function redirectToServerUrl() {
  // Get the current URL of the webpage
  var currentUrl = window.location.href;

  // Check if the webpage is being accessed from a server
  if (currentUrl.startsWith("http")) {
    // If yes, redirect to the specified server URL
    window.location.href = "http://FYC Archive.rf.gd/FYC ArchiveREWirte%20Code/index.html?i=1/";
  } else if (currentUrl.startsWith("file://") || currentUrl.startsWith("localhost") || currentUrl.startsWith("http://127.0.0.1:3000")) {
    // If accessing from local host, redirect to local index.html file
    window.location.href = "index.html";
  }
}
</script>

